html{
font-size:10px;
font-family:Indie Flower;
background-color:#589F50
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #589F50;
  text-shadow: 3px 7px 4px black;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #22D60E;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}